body {
  background-color: #6f00ff;
  background-image: url(3ee7a0a75d0bb1e849dc58b3fdca6ee0.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #807c7c;
  color: #fff;
  font-size: 1.8em; }

